.container{
    display: grid;
    /* grid-auto-rows: minmax(2200px,auto) */
    border: 1px solid #000;
    height: auto;
    margin: 150px auto;
    background-color: #f3f3f3;
}

.header {
    display:grid; 
    grid-auto-flow: column;
} 

li{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    border: 1px solid #000;
    background-color: #f9f9f9;
}

.list{
    display: grid;
    justify-items: center;

}
 
.item{
  display: grid;
  grid-auto-rows: 50px auto;
 
}

#input {
    right: 40%;
}